*{
    padding: 0 !important;
    margin: 0 !important;
    box-sizing: border-box !important;
    font-family: "Montserrat", sans-serif !important;
}

/* =================LOGIN PAGE ============= */
.loginBody{
    background-color: #F4F7FA;
}
.loginSec{
    display: block;
    margin: 80px auto !important;
    width: 65% !important;
}
.loginLogo img{
    width: 100%;
    max-width: 180px; 
    margin-bottom: 100px !important;
}
.jump h3{
    font-size: 48px;
    font-weight: bold;
}
.jump h4{
    color:RGBA(10, 46, 101, 0.3);
    font-size: 24.96px;
    margin: 15px 0 !important;
    font-weight: bold;
}
.jump p{
    font-size: 12.8px;
}
.jump p a{
    color: #056DFF;
    text-decoration: none;
    font-weight: 600;
}
.formCon form{
    background-color: white;
    padding:60px 70px !important;
    border-radius: 10px !important;
    box-shadow: 0 1px 28px rgba(0, 0, 0, 0.068) !important;
}
.signWith a{
    border: 1px solid #E5E5E5;
    color: black;
    font-weight: 600;
    font-size: 15.2px;
    text-decoration: none;
    padding:10px !important;
    width: 100%;
    border-radius: 5px !important;
    text-align: center;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    gap: 4px !important;
}
.signWith a svg{
    width: 18px !important;
    height: 18px !important;
}
.signWith a.googleSignIn{
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    gap: 4px !important;
}
.signWith a.googleSignIn svg{
    width: 18px !important;
    height: 18px !important;
    margin-right: 2px !important;
}
.formCon hr{
    border: 1px solid #E5E5E5;
}
.formCon input{
    border: 1px solid #E5E5E5;
    border-radius: 5px;
}
.formCon input:focus{
    border: 1px solid #056DFF;
    outline: none !important;
}
.emailInputContainer{
    position: relative !important;
    margin-bottom: 20px !important;
}
.emailInputContainer label{
    position: absolute !important;
    top: -10px !important;
    left: 15px !important;
    background-color: white !important;
    padding: 0 5px !important;
    font-size: 12px !important;
    color: #056DFF !important;
    font-weight: 600 !important;
    pointer-events: none !important;
    opacity: 0 !important;
    transition: all 0.1s linear !important;
}
.emailInputContainer input:focus ~ label{
    opacity: 1 !important;
}
.emailInputContainer input::placeholder{
    color: #999 !important;
    transition: color 0.1s linear !important;
}
.emailInputContainer input:focus::placeholder{
    color: transparent !important;
}
.forgetPass{
    color: #056DFF;
    text-decoration: none;
    font-weight: 600;
    font-size: 12.8px;
}
.formCon button{
    background-color: #056DFF;
    color: white;
    font-weight: 600;
    font-size: 15.2px;
    border: none !important;
    padding:10px 20px !important;
    width: 100%;
    border-radius: 5px !important;
}
.formFooter p{
    font-size: 12.8px;
}
.formFooter p a{
    color: #056DFF;
    text-decoration: none;
    font-weight: 600;
}
.rightLogo{
    position: fixed !important;
    bottom: 20px !important;
    right: 20px !important;
    border: none !important;
    width: 50px !important;
    border-radius: 50% !important;
    overflow: hidden;
    background-color: #056DFF;
    height: 50px;
}
.rightLogo img{
    width: 60%;
    border-radius: 50% !important;
}





/* ================SIGNUP SEC============= */
.formCon form h2{
    font-size: 64px;
    font-weight: bold;
    margin-bottom: 30px !important;
}
.startInvest{
    gap: 100px;
}
.startInvest .formCon{
    width: 60%;
}


@media (max-width: 768px) {
    .formCon form{
        padding: 30px !important;
        margin-top: 50px !important;
    }
    .loginSec{
        width: 90% !important;
        display: block;
        margin: 50px auto !important;
    }
    .signWith a{
        display: block !important;
        margin: 20px 0 !important;
    }
    .rightLogo{
        display: none !important;
    }
}