*{
    padding: 0 !important;
    margin: 0 !important;
    box-sizing: border-box !important;
    font-family: "Montserrat", sans-serif !important;
    /* outline: 1px solid red; */
}
body{
    overflow-x: hidden !important;
}
/* =================LOGIN PAGE ============= */
.loginBody{
    background-color: #F4F7FA;
}
.loginSec{
    display: block;
    margin: 80px auto !important;
    width: 65% !important;
}
.loginLogo img{
    width: 100%;
    max-width: 180px; 
    margin-bottom: 100px !important;
}
.jump h3{
    font-size: 48px;
    font-weight: bold;
}
.jump h4{
    color:RGBA(10, 46, 101, 0.3);
    font-size: 24.96px;
    margin: 15px 0 !important;
    font-weight: bold;
}
.jump p{
    font-size: 12.8px;
}
.jump p a{
    color: #056DFF;
    text-decoration: none;
    font-weight: 600;
}
.formCon form{
    background-color: white;
    padding:60px 70px !important;
    border-radius: 10px !important;
    box-shadow: 0 1px 28px rgba(0, 0, 0, 0.068) !important;
}
.signWith a{
    border: 1px solid #E5E5E5;
    color: black;
    font-weight: 600;
    font-size: 15.2px;
    text-decoration: none;
    padding:10px !important;
    width: 100%;
    border-radius: 5px !important;
    text-align: center;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    gap: 4px !important;
}
.signWith a svg{
    width: 18px !important;
    height: 18px !important;
}
.signWith a.googleSignIn{
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    gap: 4px !important;
}
.signWith a.googleSignIn svg{
    width: 18px !important;
    height: 18px !important;
    margin-right: 2px !important;
}
.formCon hr{
    border: 1px solid #E5E5E5;
}
.formCon input{
    border: 1px solid #E5E5E5;
    border-radius: 5px;
}
.formCon input:focus{
    border: 1px solid #056DFF;
    outline: none !important;
}
.emailInputContainer{
    position: relative !important;
    margin-bottom: 20px !important;
}
.emailInputContainer label{
    position: absolute !important;
    top: -10px !important;
    left: 15px !important;
    background-color: white !important;
    padding: 0 5px !important;
    font-size: 12px !important;
    color: #056DFF !important;
    font-weight: 600 !important;
    pointer-events: none !important;
    opacity: 0 !important;
    transition: all 0.1s linear !important;
}
.emailInputContainer input:focus ~ label{
    opacity: 1 !important;
}
.emailInputContainer input::placeholder{
    color: #999 !important;
    transition: color 0.1s linear !important;
}
.emailInputContainer input:focus::placeholder{
    color: transparent !important;
}
.forgetPass{
    color: #056DFF;
    text-decoration: none;
    font-weight: 600;
    font-size: 12.8px;
}
.formCon button{
    background-color: #056DFF;
    color: white;
    font-weight: 600;
    font-size: 15.2px;
    border: none !important;
    padding:10px 20px !important;
    width: 100%;
    border-radius: 5px !important;
}
.formFooter p{
    font-size: 12.8px;
}
.formFooter p a{
    color: #056DFF;
    text-decoration: none;
    font-weight: 600;
}
.rightLogo{
    position: fixed !important;
    bottom: 20px !important;
    right: 20px !important;
    border: none !important;
    width: 50px !important;
    border-radius: 50% !important;
    overflow: hidden;
    background-color: #056DFF;
    height: 50px;
}
.rightLogo img{
    width: 60%;
    border-radius: 50% !important;
}





/* ================SIGNUP SEC============= */
.signupBody{
    background-color: #F4F7FA;
    background-image: url(./media/sinupbg.svg);
    background-repeat: no-repeat;
    background-position: bottom right;
}
.formCon form h2{
    font-size: 64px;
    font-weight: bold;
    margin-bottom: 30px !important;
}
.startInvest{
    gap: 100px;
}
.startInvest .formCon{
    width: 60%;
}
.formFooter p img{
    width: 23px;
}
.dontwait h5{
    font-size: 24px;
    font-weight: 600;
}
.dontwait p{
    font-size: 16px;
    color: #6C82A3;
}
.seemore{
    border: none;
    border-radius: 20px;
    background-color: white;
    color: #056DFF;
    font-weight: 600;
    font-size: 14px;
    padding: 5px 15px !important;
}


/* ==================LANDING PAGE================ */
.myNav{
    padding: 20px 200px !important;
    background-color: white !important;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08) !important;
    z-index: 10;
}
.myNav .navbar-brand img{
    width: 170px;
}
.mydropdownn{
    border: none !important;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08) !important;
    background-color: white !important;  
    width:max-content !important;
    border-radius: 10px !important;
    padding: 40px  !important;
    pointer-events: auto !important;
}
.mydropdownn .dropItem{
    pointer-events: auto !important;
}
.mydropdownn .dropItem li{
    pointer-events: auto !important;
    cursor: pointer !important;
}
.dropItem img{
    width: 45px;
}
.dropItem strong{
    font-weight: 600;
}
.dropItem p{
    font-size: 14px;
    color: #6C82A3;
    font-weight: 500;
    transition: .5s ease;
}
.dropItem li:hover, .dropItem li:hover p{
    color: #056DFF;
    transition: .5s ease;
}
.dropItem strong button{
    font-size: 10px;
    letter-spacing: 2px;
    padding:1px 2px !important;
}
.verticalLine{
    width: 1px;
    height:auto;
    background-color: #E5E5E5;
}
.dropItem a{
    text-decoration: none;
}
.navList{
    color: #6C82A3 !important;
    font-weight: 500 !important;
    transition: .5s ease;
}
.navList:hover, .navList:focus{
    color: black !important;
}
.login{
    text-decoration: none;
    color: #056DFF;
    font-weight: 600;
    font-size: 16px;
}
.signupBtn{
    font-weight: 600;
    font-size: 16px;
    width: max-content;
    color: white;
    background-color: #056DFF;
    border:none;
    padding: 10px 25px !important;
    border-radius: 6px !important;
    box-shadow: 0 4px 12px rgba(5, 109, 255, 0.3) !important;
}


/* ========SEC1============= */
.sec1{
    height: 78vh;
    /* background-image: url(./media/ladder.svg); */
    border: solid red 1px;
    background-repeat: no-repeat;
    
    background-position: bottom left, top right;
    background-size: cover;
}
.sec1 p{
    font-size: 20px;
    font-weight: 500;
    color: #6C82A3;
    margin: 45px 0 !important;
}


/* ============SEC2======== */
.sec2{
    padding: 50px 200px !important;
}
.savingsItem{
    width: 31%;
    padding: 20px !important;
    border-radius: 20px !important;
    height: 520px;
    background-color: #F5F6FA;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: transform 0.3s ease-in-out;
}
.savingsItem:hover .savings-buttom{
    transform: translateY(-10px) ;
}
.savingsItem:hover a{
    color: #056DFF !important;
}
.savingsItem:hover a .arrowRight{
    transform: translateX(15px);
    display: inline-block;
    transition: transform 0.3s ease-in-out;
}

.savingsItem a .arrowRight{
    display: inline-block;
    transition: transform 0.3s ease-in-out;
}
.savingsItem a{
    color: black;
    font-weight: 600;
    font-size: 20px;
    text-decoration: none;
    transition: transform 0.3s ease-in-out;
}
.savings-buttom{
    background-color: white;
    padding: 25px !important;
    border-radius:20px;
    width: 100%;
    transition: transform 0.2s ease-in-out;
}
.savings-buttom button{
    height: 55px;
    width: 55px;
    border: none;
    border-radius: 50% !important;
}
.savings-buttom p{
    font-size: 14px;
    color: #6C82A3;
}
.savingsimg1{
    background-image: url(./media/savings1.png);
}
.savingsimg2{
    background-image: url(./media/savings2.png);
}
.savingsimg3{
    background-image: url(./media/savings3.png);
}
.phoneDiv{
    background-color: #F5F6FA;
    height: 650px;
    width: 38%;
    border-radius: 20px;
    background-image: url(./media/pnone.png);
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center 150%;
    position: relative;
    overflow: hidden;
}
.rollCoin{
    width: 280px;
    position: absolute;
    bottom: -120px;
    left: -120px;
    transform: scaleX(-1);
    animation: roll 20s linear infinite;
}
@keyframes roll {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(-360deg);
    }
}
.growContainer{
    width:59% ;
    display: flex;
    gap: 30px;
}
.growWith{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;

    /* height: 650px !important; */
}
.growWith span{
    color: #627796;
}
.growWith p{
    font-size:14px !important;
    color: #627796;
    font-weight: 500;
}
.growWith h4{
    font-size:24px;
    font-weight: 600;
}
.growWith div{
    background-color: #F5F6FA;
    padding: 40px !important;
    height:100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 20px !important;
    position: relative;
    overflow: hidden;
}
.rollCoin2{
    width: 240px;
    position: absolute;
    bottom: -110px;
    right: -120px;
    transform: scaleX(-1);
    animation: rolls 20s linear infinite;
}
@keyframes rolls {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.modelGirl{
    background-image: url(./media/girl-face-model.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.flowerContainer{
    background-color: #F5F6FA;
    border-radius: 20px;
    background-image: url(./media//flowers.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center 70px;

}




@media (max-width: 1024px) {
    .formCon form{
        padding: 30px !important;
        margin-top: 50px !important;
    }
    .loginSec{
        width: 90% !important;
        display: block;
        margin: 50px auto !important;
    }
    .signWith a{
        display: block !important;
        margin: 20px 0 !important;
    }
    .rightLogo{
        display: none !important;
    }



    /* ===============SIGNUP================= */
    .startInvest .formCon{
        width: 100%;
    }
    .startInvest .formCon h2{
        font-size: 28px;
    }
    .dontwait h5{
        display: none;
    }
    .dontwait p{
        font-size: 14.4px;
        text-align: center !important;
        margin-top: 50px !important;
    }
    .seemore{
        display: block !important;
        margin: 30px auto !important;
    }
    .rightLogo-signup{
        display: block  !important;
    }

    .navbar{
        padding: 20px !important;
        justify-content: space-between !important;
    }
    .sec2{
        padding: 30px !important;
    }
    .savingsItem{
        width: 100%;
        margin: 30px 0 !important;
    }
    .savings-buttom button{
        display: none;
    }
    .phoneDiv{
        width: 100%;
        height: 550px;
        margin: 30px 0 !important;
    }
    .growWith{
        width: 100% !important;
    }
    .growContainer{
        width:100% ;
        flex-direction: column;
    }
    .clarity{
        height: 300px !important;
        margin: 30px 0 !important;
    }
    .modelGirl{
        height: 400px !important;
        background-position: center;
    }
    .flowerContainer{
        height: 500px;
        background-position: left 70px;
    }
    




}